In [ ]:

# Lets Import all required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
 Lets import dataset using csv file:
df=pd.read_csv("https://raw.githubusercontent.com/amit-matreja/Temperature_Forecast_Project_using_ML/main/temperature.csv")
df

In [ ]:
# Lets check top 10 columns of the dataset
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.shape

In [ ]:
# lets check information regarding the dataset
df.info()

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())
plt.title("Null values")
plt.show()

In [ ]:
df['station'].unique()

In [ ]:
df['station'].iloc[7750]=1.0
df['station'].iloc[7751]=2.0

In [ ]:
df['Date'].iloc[7750]='31-08-2017'
df['Date'].iloc[7751]='31-08-2017'

In [ ]:
df.skew()

In [ ]:

# First lets convert null values in columns which don't have skewness with mean values, lets find out mean values.
print("Mean of Present_Tmax = ", df["Present_Tmax"].mean())
print("Mean of Present_Tmin = ", df["Present_Tmin"].mean())
print("Mean of LDAPS_RHmin = ", df["LDAPS_RHmin"].mean())
print("Mean of LDAPS_Tmax_lapse = ", df["LDAPS_Tmax_lapse"].mean())
print("Mean of LDAPS_CC1 = ", df["LDAPS_CC1"].mean())
print("Mean of LDAPS_CC2 = ", df["LDAPS_CC2"].mean())
print("Mean of Next_Tmax = ", df["Next_Tmax"].mean())
print("Mean of Next_Tmin = ", df["Next_Tmin"].mean())

In [ ]:
# now lets replace nan values with these mean values
mean_col=["Present_Tmax","Present_Tmin","LDAPS_RHmin","LDAPS_Tmax_lapse","LDAPS_CC1","LDAPS_CC2","Next_Tmax","Next_Tmin"]
for i in mean_col:
  df[i]=df[i].replace(np.nan,df[i].mean())

In [ ]:

# Now lets replace NaN values in columns where ourliers are present with median
print("Median of LDAPS_RHmax = ",df["LDAPS_RHmax"].median())
print("Median of LDAPS_Tmin_lapse = ", df["LDAPS_Tmin_lapse"].median())
print("Median of LDAPS_WS = ",df["LDAPS_WS"].median())
print("Median of LDAPS_LH = ",df["LDAPS_LH"].median())
print("Median of LDAPS_CC3 = ",df["LDAPS_CC3"].median())
print("Median of LDAPS_CC4 = ",df["LDAPS_CC4"].median())
print("Median of LDAPS_PPT1 = ",df["LDAPS_PPT1"].median())
print("Median of LDAPS_PPT2 = ",df["LDAPS_PPT2"].median())
print("Median of LDAPS_PPT3 = ",df["LDAPS_PPT3"].median())
print("Median of LDAPS_PPT4 = ",df["LDAPS_PPT4"].median())

In [ ]:
# replacing null values with median values of that column
med_col=["LDAPS_RHmax","LDAPS_Tmin_lapse","LDAPS_WS","LDAPS_LH","LDAPS_CC3","LDAPS_CC4","LDAPS_PPT1","LDAPS_PPT2","LDAPS_PPT3","LDAPS_PPT4"]
for i in med_col:
  df[i]=df[i].replace(np.nan,df[i].median())

In [ ]:

# lets recheck null values
df.isnull().sum()

In [ ]:

# Let's visualize the null values again
plt.figure(figsize=(9,7))
sns.heatmap(df.isnull())
plt.show()

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
# lets check the value counts of each column
for i in df.columns:
    print(df[i].value_counts())
    print('--------------------------------------------------')

In [ ]:

# Lets convert the datatype of date column from object datatype to datetime datatype
df['Date']=pd.to_datetime(df['Date'])
df.dtypes

In [ ]:
# Now lets split Day, month and year from the date column
#Day
df["Day"]=df["Date"].dt.day

# Month
df["Month"]=df["Date"].dt.month

# Year
df["Year"]=df["Date"].dt.year

In [ ]:

#Lets drop the date column from the dataset to avoid duplication.
df.drop("Date", axis=1,inplace=True)

In [ ]:
# lets check the dataset head using df.head()
df.head()